/* Palette of colors */
:root {
  --dark-green: #283618;
  --light-green: #606C38;
  --cornsilk-white: #FEFAE0;
  --white: #ffffff;
  --light-brown: #DDA15E;
  --dark-brown: #BC6C25;
  --black: #000000;
  --light-grey: #d5d9d980;/*#E7E9EB;*/
  --dark-grey: 	#151515;

  --card-color: #ECEFF1;
  --card-color-dark: #323031;

  --bg-color: #f6f6f6;
  --bg-dark: #080705;
}

@media (prefers-color-scheme: dark){
  :root{
    --dark-green: #606C38;
    --light-green: #283618;
    --cornsilk-white: #080705;
    --white: #000000;
    --light-brown: #BC6C25;
    --dark-brown: #DDA15E;
    --black: #ffffff;
    --light-grey: #151515;/*#E7E9EB;*/
    --dark-grey: #d5d9d980;

    --card-color: #323031;
    --card-color-dark: #ECEFF1;

    --bg-color: #080705;
    --bg-dark: #f6f6f6;
  }
}